<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <script
            type="text/javascript"
            src="../../scripts/jquery-3.5.1.min.js"
        ></script>
        <link rel="stylesheet" href="../../styles/writings.css" />
    </head>
    <body id="body">
        <header><%- include('../partials/header'); %></header>
        <div id="canvas-div"><%- include('../partials/canvas');%></div>
        <!--Template end-->
        <!-- Spinner -->
        <div id="loader-container">
            <div id="loading" class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <main id="writings-container" class="container">
            <div id="post-container">
                <!--Posts generated from script-->
            </div>
        </main>
        <footer><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../../scripts/writings.js"></script>
        <script>
            var post = "<%= post %>";
            console.log("POST: " + post);
            getContent(post);
        </script>
    </body>
</html>
