<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <!--Template end-->
        <title>Writings by Aalap Davjekar</title>
        <meta
            name="description"
            content="The writings of Aalap Davjekar on technology, veganism, meditation, philosophy, and spirituality."
        />
        <meta
            name="keywords"
            content="technology, veganism, meditation, philosophy, spirituality, blockchain, bitcoin, economy"
        />
        <script
            type="text/javascript"
            src="../../scripts/jquery-3.5.1.min.js"
        ></script>
        <link rel="stylesheet" href="../../styles/writings.css" />
        <base target="_blank" />
    </head>
    <body id="body">
        <header><%- include('../partials/header'); %></header>
        <div id="canvas-div"><%- include('../partials/canvas');%></div>
        <!--Template end-->
        <div>
            <h1 class="project-title no-margin">Writings</h1>
        </div>
        <main id="writings-container" class="container scrollbar">
            <div id="post-container">
                <!--Posts generated from script-->
            </div>
        </main>
        <footer><%- include('../partials/footer'); %></footer>
        <script type="text/javascript" src="../../scripts/writings.js"></script>

        <script>
            
            var post = '<%-post%>';
            
            "<% if (post != undefined) { %>" 
                    var id = '<%=post.id%>';
                    var title = '<%=post.title%>';
                    var body = '<%-post.body%>';
                    var date = '<%=post.date%>';
                    var tags = '<%=post.tags%>';
                    addPost(id, title, body, date, tags, true);
                    console.log('Displaying single post.');
            "<% } else { %>";
                console.log('Displaying all posts.');       
                "<% for (i in postArr) { %>";
                        var id = '<%=postArr[i].id%>';
                        var title = '<%=postArr[i].title%>';
                        var body = '<%-postArr[i].body%>';
                        var date = '<%=postArr[i].date%>';
                        var tags = '<%=postArr[i].tags%>';
                        addPost(id, title, body, date, tags, false);
                "<% } %>";
            "<% }%>";
        </script>
    </body>
</html>
